#AuthType Basic
#AuthName 'Admin panel'
#AuthUserFile /home/u160739/oknaorgru/www/.htpasswd
#Require valid-user

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

RewriteEngine on
RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [NC,R=301,L]

AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>

#редирект на стартовую
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.oknaorg.ru
RewriteRule (.*) https://oknaorg.ru/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://oknaorg.ru/ [R=301,L]

php_flag display_errors off
php_value error_reporting 0

RewriteCond $1 !^(robots\.txt)
